body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}

.screen-container {
	background: #eee;
	margin: 2vh;
	padding: 2vh;
	min-height: 92vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.screen-container h1 {
	margin-top: 0;
}
.disabled {
	opacity: 0.6;
}
.nav-footer {
	text-align: center;
	margin-top: 2vh;
}
.nav-button {
	width: 20vmin;
}
.nav-btn {
	border: 0.66vmin solid black;
	background: #fd5e53;
}
input, select {
	margin-bottom: 2px;
}
.table-layout-column-left {
	width: 33%;
	float: left;
}
.table-layout-cell-left {
	float:right;
	text-align: right;
}
.table-layout-column-right {
	width: 66%;
	margin-left: 1%;
	float: left;
}
.table-layout-cell-right {
	width: 80%;
}
input.table-layout-cell-right[type="number"] {
	width: 4em;
}
label.table-layout-cell-left, p.table-layout-cell-left, span.table-layout-cell-left {
	margin-bottom: 0.25em;
}
.table-layout-vertical-space-above {
	margin-top: 2vh;
}
textarea {
	resize: none;
	height: 3.5em;
}
p.clear {
	clear: both;
}
#review-table td {
	width: 12.5%;
}
#review-table input {
	width: 2em;
}

.wrapper-ratio {
	position: relative;
	width: 100vw;
	height: 150vw;
	/*background: blue;*/
}
@media (min-aspect-ratio: 2/3) { /* to wide */
	.wrapper-ratio {
		position: relative;
		width: 66.66vh;
		height: 100vh;
		margin: 0 auto;
		/*background: red;*/
	}
}
.element {
	position: absolute;
	padding: 0px;
	/*background: yellow;*/
}
.centered-text-box {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 8vmin;
}
.img-fill {
	position: absolute;
	width: 100%;
	height: 100%;
}
.element-wrapper, .img-border {
	position: absolute;
	width: 98%;
	height: 98%;
	top: 1%;
	left: 1%;
}
.element-wrapper {
	background: black;
}
.img-border {
	background: white;
}
.img-flip-x {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.s4-text-section-try { font-size: 3vmin; }
.s4-text-section-try-value { font-size: 9vmin; }
.s4-text-time { font-size: 5vmin; }
.s4-text-undo { font-size: 11vmin; }
.s4-text-completed { font-size: 12vmin; }
.s4-text-lop { font-size: 8vmin; }
.s4-text-skip { font-size: 8vmin; }
.s4-text-notification { text-align: center; font-size: 3vmin; }
.s4-text-scoring-elements { text-align: center; font-size: 4.5vmin; }
.s4-text-scoring-elements-last { font-weight: bold; }
.s4-text-last-checkpoint { font-size: 4.2vmin; }

/* Tooltips used in s6-review-table */
.tooltip {
	position: relative;
	/*display: inline-block;*/
}

.tooltip .tooltiptext {
	display: none; /*visibility: hidden;*/
	width: 120px;
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip */
	/*opacity: 0;
	transition: opacity 0.3s;*/
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	display: inline-block; /*visibility: visible;*/
	opacity: 1;
}

.s7-status-box {
	text-align: center;
}
.s7-status-box > * {
	margin: 10px;
}
.s7-status-icon {
	height: 30vh;
	max-width: 60vw;
}
#s7-error-message-text, #s7-run-id {
	font-family: "Courier New", Courier, monospace;
}
.s8-run-history-icon {
	width: 1.2em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}